<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
</head>
<body>
<h2>this is post/test</h2>
</body>
<script src = '/js/jquery.min.js'></script>
<script>
//    $.ajax({
//        type : 'post',
//        url : '/post',
//        data : {data : 'post data'},
//        success : function(data){
//            alert(data);
//        },
//        error : function(){
//            alert('error');
//        }
//    });
</script>
</html>